<%- include("partials/header.ejs") %>

<section>
    <form action="/add" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="content" placeholder="Content" required></textarea>
        <button type="submit">Create Post</button>
    </form>
</section>

<%- include("partials/footer.ejs") %>